<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Search</title>
</head>
<body>
    
    <h1 > <a href="{{% url static 'indexana.html'%}}"></a> Hello Word!</h1>
    <input type="text" id="search_here">
    <div id="box">
        {% for i in object_list %}
        {{i}} <br>
        {% endfor %}
    </div>

    <script>
        const data='{{qs_json}}'
        console.log(data)

        const rdata=JSON.parse(data.replace(/&quot;/g,'"'))
        console.log(rdata)

        const input=document.getElementById("search_here")

        let filterArr=[]
        input.addEventListener('keyup',(e)=>{
            box.innerHTML=""
            filterArr=rdata.filter(info=>info["name"].includes(e.target.value))
            if(filterArr.length>0){
                filterArr.map(item=>{
                    box.innerHTML+="<b>"+item['name']+"</b><br>"
                })
            }
            else{
                box.innerHTML="Aradığınız Bulunamadı!"  
            }
        })
    </script>
</body>
</html>